.Home-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Title {
    font-size: 5em;
    font-weight: bold;
}

.Title:hover {
    cursor: pointer;
}

.breadcrumb {
    align-self: start;
}

.breadcrumb:hover {
    color: #00f;
    cursor: pointer;
}